/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideIn 1s ease-out;
}

/* Animación para el header */
@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Título en el header */
header h1 {
    font-size: 26px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Estilo para la tabla */
.container {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla - estilo Bootstrap */
.table {
    font-size: 12px; /* Reducir aún más el tamaño del texto */
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 8px; /* Reducir el padding */
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd; /* Añadir borde en todas las celdas */
}

.table thead {
    background-color: #007bff;
    color: white;
}

/* Paginación de la tabla */
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    color: #007bff;
    font-size: 14px;
}

.pagination a:hover {
    text-decoration: none;
    background-color: #007bff;
    color: white;
}

/* Total de registros */
#total-registros {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 6px; /* Ajustar el padding para pantallas más pequeñas */
    }

    header h1 {
        font-size: 22px;
    }

    #total-registros {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 20px;
    }

    footer {
        padding: 15px;
    }

    #total-registros {
        font-size: 12px;
    }
}
