* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: linear-gradient(135deg, #3b82f6, #2563eb);
    width: 100%;
    padding: 20px;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .title {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
  }
  
  .button-start {
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #2563eb;
    color: #fff;
    padding: 10px 15px;
    border: solid 1px #ffff;
    border-radius: 8px;
    cursor: pointer;
    max-width: 150px; /* Limita el ancho m치ximo */
    flex-shrink: 0; /* Evita que se reduzca */
}

@media (max-width: 600px) {
    .button-start {
        position: relative; /* Cambia a relativo en pantallas peque침as */
        margin-bottom: 20px; /* Agrega espacio debajo del bot칩n */
        width: 100%; /* Asegura que el bot칩n ocupe el 100% del ancho disponible */
    }
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background: linear-gradient(45deg, #6b5b95, #8c7c9f, #e6e6e6, #d6d6d6);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #333;
    padding: 20px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.form-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  transition: transform 0.3s;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  flex: 1;
}

@media (max-width: 600px) {
  .form-row {
    flex-direction: column;
  }
}


.form-container:hover {
    transform: translateY(-5px);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #4a90e2;
    font-weight: 600;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

input:focus,
select:focus {
    border-color: #4a90e2;
    outline: none;
}

.button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button:disabled:hover {
    background-color: #ccc;
}

footer {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: auto;
    padding: 10px 0;
}

@media (max-width: 500px) {
    .form-container {
        padding: 25px;
    }

    h2 {
        font-size: 22px;
    }

    .button {
        font-size: 14px;
    }
}



.error-message {
    color: red;
    background-color: #ffe6e6;
    border: 1px solid red;   
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.info-message {
    color: blue;
    background-color: #e6f7ff;
    border: 1px solid blue;   
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}

.date-selectors {
    display: flex;
    gap: 10px;
  }
  
  .date-selectors select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .message-container {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.text-danger {
    color: red;
    background-color: #f8d7da;
}

.text-success {
    color: green;
    background-color: #d4edda;
}

  