body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: slideIn 1s ease-out;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

header h1 {
    font-size: 26px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.container {
    flex-grow: 1;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    overflow-x: auto;
}

.table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #007bff;
    color: white;
}

#total-registros {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
}

/* Responsividad */
@media (max-width: 768px) {
    .table th, .table td {
        padding: 6px;
    }

    header h1 {
        font-size: 22px;
    }

    #total-registros {
        font-size: 12px;
    }

    .col-md-6 {
        margin-bottom: 10px;
    }

    .d-flex {
        flex-direction: column;
    }

    .d-flex button {
        margin-bottom: 5px;
    }
}

@media (max-width: 576px) {
    header h1 {
        font-size: 20px;
    }

    footer {
        padding: 15px;
    }

    #total-registros {
        font-size: 12px;
    }

    .col-md-6 {
        width: 100%;
    }
}