body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #00509e, #4a90e2);
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}
.reset-container {
    max-width: 500px;
    padding: 3rem;
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.reset-container h2 {
    font-weight: bold;
    color: #00509e;
    margin-bottom: 0.5rem;
}
.reset-container p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 2rem;
}
.form-control:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 0.2rem rgba(74, 144, 226, 0.25);
}
.input-group-text {
    background-color: #00509e;
    color: #fff;
}
.btn-custom {
    background-color: #00509e;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
}
.btn-custom:hover {
    background-color: #4a90e2;
}

.salir{
    text-decoration: none;
    background: #00509e;
    color: #ffff;
    border: #00509e;
    border-radius: 5px;

}