/* Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #005f73;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 1.8em; /* Tamaño de fuente ajustado */
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: bold; /* Negrita */
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Se ajusta en una columna en pantallas pequeñas */
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    padding: 10px;
    border-radius: 10px;
    background: #07c079;
}

header nav ul li a:hover {
    color: #94d2bd;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-3px);
}

h2 {
    color: #005f73;
    margin-bottom: 15px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input,
form select {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #005f73;
    border-radius: 5px;
    transition: border-color 0.3s;
    width: 100%;
}

form input:focus,
form select:focus {
    border-color: #94d2bd;
    outline: none;
}

form input[type="submit"] {
    background: #005f73;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    padding: 15px;
    transition: background-color 0.3s, transform 0.3s;
}

form input[type="submit"]:hover {
    background: #94d2bd;
    transform: translateY(-2px);
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #005f73;
    color: #ffffff;
    font-size: 0.9em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.option {
    padding: 10px;
}

.title {
    background: #28a745;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1.5em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

/* Estilo para el icono de alumno */
.student-icon {
    font-size: 3em; /* Tamaño del icono ajustado */
    color: #ffff; /* Color del icono */
    margin-right: 10px; /* Espaciado a la derecha */
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
    background-color: #d9534f; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor */
    transition: background-color 0.3s; /* Efecto de transición */
    font-size: 1em; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
}

.logout-button:hover {
    background-color: #c9302c; /* Color de fondo al pasar el mouse */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.6em;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 15px;
    }

    h2 {
        font-size: 1.3em;
    }

    form input[type="submit"] {
        font-size: 1em;
        padding: 12px;
    }

    footer {
        font-size: 0.8em;
    }
}

@media (max-width: 500px) {
    header h1 {
        font-size: 1.4em;
    }

    .form-container {
        padding: 20px;
    }

    h2 {
        font-size: 1.2em;
    }

    form label {
        font-size: 0.9em;
    }

    form input,
    form select {
        padding: 10px;
    }

    form input[type="submit"] {
        font-size: 0.9em;
        padding: 10px;
    }

    footer {
        font-size: 0.75em;
    }
}
